
<!DOCTYPE html>
<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Los Nardos | WebRestaurant</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />  

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	{% load static %}
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'core/webrestaurant.png' %}">

	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'core/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'core/css/icomoon.css' %}">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="{% static 'core/css/simple-line-icons.css' %}">
	<!-- Datetimepicker -->
	<link rel="stylesheet" href="{% static 'core/css/bootstrap-datetimepicker.min.css' %}">
	<!-- Flexslider -->
	<link rel="stylesheet" href="{% static 'core/css/flexslider.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">

	<link rel="stylesheet" href="{% static 'core/css/style_new2.css' %}">


	<!-- Modernizr JS -->
	<script src="{% static 'core/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<style>
		@import "compass/css3";
		.errorlist{color:red;} 
		label{display:none} 
	</style>
	<script>
		window.setTimeout(function() {
			$(".alert").fadeTo(500, 0).slideUp(500, function(){
				$(this).remove(); 
			});
		}, 4000);
	</script> 

	<div id="fh5co-container">
		<div id="fh5co-home" class="js-fullheight" data-section="home">

			<div class="flexslider">
				
				<div class="fh5co-overlay"></div>
				<div class="fh5co-text">
					<div class="container">
						<div class="row">
							<h1 class="to-animate">Los Nardos</h1>
							<h2 class="to-animate">{% if language == 'ES' %}<span>comida</span> cubana<span>,</span> italiana <span>y</span> española{% else %}cuban<span>,</span> italian <span>and</span> spanish <span>food</span>{% endif %}</h2>
						</div>
					</div>
				</div>
			  	<ul class="slides">
			   	<li style="background-image: url({% static 'core/images/los_nardos_copas1.jpg' %});" data-stellar-background-ratio="0.5"></li>
			   	<li style="background-image: url({% static 'core/images/los_nardos_capitolio.jpg' %});" data-stellar-background-ratio="0.5"></li>
			   	<li style="background-image: url({% static 'core/images/los_nardos_portal.jpg' %});" data-stellar-background-ratio="0.5"></li>
			  	</ul>

			</div>
			
		</div>
		
		<div class="js-sticky">
			<div class="fh5co-main-nav">
				<div class="container-fluid">
					<div class="fh5co-menu-1">
						<a href="#" data-nav-section="home">{% if language == 'ES' %}Inicio{% else %}Home{% endif %}</a>
						<a href="#" data-nav-section="about">{% if language == 'ES' %}Acerca de{% else %}About{% endif %}</a>
						<a href="#" data-nav-section="features">{% if language == 'ES' %}Sugerencias del Cheff{% else %}Cheff's Suggestions{% endif %}</a>
					</div>
					<div class="fh5co-logo">
						<a href="#" data-nav-section="home">Los Nardos</a>
					</div>
					<div class="fh5co-menu-2">
						<a href="#" data-nav-section="menu">{% if language == 'ES' %}Menú{% else %}Menu{% endif %}</a>
						<!--<a href="#" data-nav-section="events">{% if language == 'ES' %}Eventos{% else %}Events{% endif %}</a>-->
						<!--<a href="#" data-nav-section="reservation">{% if language == 'ES' %}Reservaciones{% else %}Reservation{% endif %}</a>	-->					
					</div>
				</div>
				
			</div>
		</div>

		<div id="fh5co-about" data-section="about">
			<div class="fh5co-2col fh5co-bg to-animate-2" style="background-image: url({% static 'core/images/los_nardos_flor1.jpg' %})"></div>
			<div class="fh5co-2col fh5co-text">
			{% if language == 'ES' %}
				<h2 class="heading to-animate">Acerca de</h2>
				<p class="to-animate">				
				<span class="firstcharacter">R</span>estaurante insigne de la Sociedad de Recreo y Sport "Juventud Asturiana", 
				llevamos más de 20 años brindando un servicio de excelencia y calidad. No se pierda una oportunidad única de 
				degustar distintos platos de la magnífica cocina cubana, italiana y española. 
				Este será el lugar donde usted y su familia podrán pasar un rato ameno y disfrutar de un excelente servicio.			
				</p>
			{% else %}
				<h2 class="heading to-animate">About</h2>
				<p class="to-animate">				
				<span class="firstcharacter">F</span>amous restaurant of the Recreation and Sport Society "Juventud Asturiana",
				we have been providing a service of excellence and quality for more than 20 years. Don't miss out on a unique opportunity to
				taste different dishes of the magnificent Cuban, Italian and Spanish cuisine.
				This will be the place where you and your family can have a good time and enjoy excellent service.			
				</p>
			{% endif %}			
			</div>
		</div>

		<div id="fh5co-sayings">
			<div class="container">
				<div class="row to-animate">

					<div class="flexslider">
						<!-- SECCION DE FRASES -->
						<ul class="slides">
							{% for cita in citas %}
								<li><!-- CADA FRASE -->
									<blockquote>
										<p>&ldquo;{% if language == 'ES' %}{{cita.fraseES}}{% else %}{{cita.fraseEN}}{% endif %}&rdquo;</p>
										<p class="quote-author">&mdash; {{cita.autor}}</p>
									</blockquote>
								</li>
							{% endfor %}
						<!-- FIN DE SECCION DE FRASES -->
						</ul>
					</div>

				</div>
			</div>
		</div>

		<div id="fh5co-featured" data-section="features">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2"><!-- SECCION DE SUGERENCIAS -->
						<h2 class="heading to-animate">{% if language == 'ES' %}Sugerencias del Cheff{% else %}Cheff's Suggestions{% endif %}</h2>
						{% if sugerencias %}
							<p class="sub-heading to-animate">
							{% if language == 'ES' %}
								En el día de hoy nuestro Cheff le sugiere los siguientes platos para su disfrute y el de su paladar.
							{% else %}
								Today our Cheff suggests the following dishes for your enjoyment and that of your palate.
							{% endif %}
							</p>
						{% else %}
							<p class="sub-heading to-animate">
							{% if language == 'ES' %}
								Lo sentimos por el momento no hay sugerencias de la casa.
							{% else %}
								Sorry at the moment there are no suggestions from the house.
							{% endif %}							
							</p>
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="fh5co-grid">						
						{% for plato in sugerencias %}
							<!-- CADA PAR DE PLATOS PARA QUE APAREZCA EN ZIG ZAG-->	
								<!-- PLATO 2 -->
								<div class="fh5co-v-half">
									<div class="fh5co-h-row-2 to-animate-2">
										<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% if plato.imagen %} {{plato.imagen.url}}{% else %}{% static 'core/images/sugerencia-default.jpg' %}{% endif %})"></div>
										<div class="fh5co-v-col-2 fh5co-text arrow-left">
											<h2>{% if language == 'ES' %}{{plato.nombreES}}{% else %}{{plato.nombreEN}}{% endif %}</h2>
											<span class="pricing">${{plato.precio}}</span>
											<p>{% if language == 'ES' %}{{plato.descripcionES}}{% else %}{{plato.descripcionEN}}{% endif %}</p>
										</div>
									</div>
								</div>
							<!-- FIN DE CADA PAR DE PLATOS -->												
						{% endfor %}

					</div>
				</div><!-- FIN DE LA SECCION DE SUGERENCIAS -->

			</div>
		</div>
		
		<!-- SECCION PREVIA AL MENU -->
		<div id="fh5co-type" style="background-image: url({% static 'core/images/los_nardos_premenu.jpg' %});" data-stellar-background-ratio="0.5">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="row">
					{% for categoria in categorias_cuatro %}
						<div class="col-md-3 to-animate" >
							<div class="fh5co-type" >
								<h3 style="background: url({{categoria.iconoBlanco.url}}) no-repeat center center;">{% if language == 'ES' %}{{categoria.tituloES}}{% else %}{{categoria.tituloEN}}{% endif %}</h3>
								<p>{% if language == 'ES' %}{{categoria.descripcionES}}{% else %}{{categoria.descripcionEN}}{% endif %}</p>
							</div>
						</div>
					{% endfor %}					
				</div>
			</div>
		</div>
		<!-- FIN DE LA SECCION PREVIA AL MENU -->
		<!-- SECCION MENU -->
		<div id="fh5co-menus" data-section="menu">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
					{% if language == 'ES' %}
						<h2 class="heading to-animate">Menú</h2>
						<p class="sub-heading to-animate">Deguste su vista primero para que luego su paladar lo haga también.</p>
					{% else %}
						<h2 class="heading to-animate">Menu</h2>
						<p class="sub-heading to-animate">Taste your sight first so your taste buds do too.</p>
					{% endif %}						
					</div>
				</div>
				<div class="row row-padded">
					{% for categoria in categorias %}
						<div class="col-md-8">
							<div class="fh5co-food-menu to-animate-2">							
								<!--<h2 style="background: url({{categoria.iconoNegro.url}}) no-repeat center center; position: relative;padding-left: 80px;  height: 64px;">{{categoria.tituloES}}</h2>-->
								<h3 style="background: url({{categoria.iconoNegro.url}}) no-repeat center right; height: 64px;"><u>{% if language == 'ES' %}{{categoria.tituloES}}{% else %}{{categoria.tituloEN}}{% endif %}</u></h3>
								<ul>
									{% for plato in platos %}
										{% ifequal plato.categoria.tituloES categoria.tituloES %}
											<li>
												<div class="fh5co-food-desc">										
													<div>
														<h3>{% if language == 'ES' %}{{plato.nombreES}}{% else %}{{plato.nombreEN}}{% endif %}</h3>
														<p>{% if language == 'ES' %}{{plato.descripcionES}}{% else %}{{plato.descripcionEN}}{% endif %}</p>
													</div>
												</div>
												<div class="fh5co-food-pricing">
													${{plato.precio}}
												</div>
											</li>
										{% endifequal %}
									{% endfor %}								
								</ul>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-4 text-center to-animate-2">
						<p><a href="{% url 'menu' %}" class="btn btn-primary btn-outline" target="_blank">{% if language == 'ES' %}Menú Completo{% else %}Complete Menu{% endif %}</a></p>
					</div>
				</div>
			</div>
		</div>
		<!-- FIN DE LA SECCION MENU -->
		<!-- SECCION DE EVENTOS 
		<div id="fh5co-events" data-section="events" style="background-image: url({% static 'core/images/slide_2.jpg' %});" data-stellar-background-ratio="0.5">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2 to-animate">
						{% if language == 'ES' %}
						<h2 class="heading">Eventos</h2>
						<p class="sub-heading">En nuestra casa celebramos los siguientes eventos, donde presentamos platos especiales y otras ofertas.</p>
						{% else %}
						<h2 class="heading">Events</h2>
						<p class="sub-heading">In our house we celebrate the following events, where we present special dishes and other offers.</p>
						{% endif %}						
					</div>
				</div>
				<div class="row">
					{% for evento in eventos %}-->
						<!-- CADA EVENTO 
						<div class="col-md-4">
							<div class="fh5co-event to-animate-2">
								<h3>{% if language == 'ES' %}{{evento.nombreES}}{% else %}{{evento.nombreEN}}{% endif %}</h3>
								<span class="fh5co-event-meta">{{evento.fecha|date:"d/m/Y"}}</span>
								<p>{% if language == 'ES' %}{{evento.descripcionES}}{% else %}{{evento.descripcionEN}}{% endif %}</p>								
							</div>
						</div> 
					{% endfor %}										
				</div>
			</div>
		</div>-->
		<!-- FIN DE LA SECCION DE EVENTOS -->

		<div id="fh5co-contact" data-section="reservation">
			<div class="container">
				<!--<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
					{% if language == 'ES' %}
						<h2 class="heading to-animate">Reserve su Mesa</h2>
						<p class="sub-heading to-animate">Puede contactarnos para reservar su mesa llamando al <strong>Teléfono de Contacto</strong> o llenando el <strong>Formulario de Reservación</strong> y esperando que demos respuesta a su solicitud.</p>
					{% else %}
						<h2 class="heading to-animate">Reserve your Table</h2>
						<p class="sub-heading to-animate">You can contact us to reserve your table by calling the <strong>Contact Phone</strong> or filling out the <strong>Reservation Form</strong> and waiting for us to respond to your request.</p>
					{% endif %}						
					</div>
				</div>-->
				<div class="row">
					<div class="col-md-6 to-animate-2">
						<h3>{% if language == 'ES' %}Información de Contacto{% else %}Contact Information{% endif %}</h3>
						<ul class="fh5co-contact-info">
							<li class="fh5co-contact-address ">
								<i class="icon-home"></i>
								{% if language == 'ES' %}
								Sociedad de Recreo  Sport "Juventud Asturiana"<br>
								Prado 563 e/ Teniente Rey y Dragones<br>La Habana, Cuba
								{% else %}
								Recreation and Sport Society "Juventud Asturiana"<br>
								Prado 563 e/ Teniente Rey y Dragones<br>Havana, Cuba
								{% endif %}
							</li>							
							<li><a href="tel:+5378632985"><i class="icon-phone"></i> +537 863 2985</a></li>
							<!--<li><a href="mailto:losnardoscuba@gmail.com"><i class="icon-envelope"></i>losnardoscuba@gmail.com</a></li>	-->						
						</ul>
					</div>
					<!--<div class="col-md-6 to-animate-2">
						<h3  id="registration_form">{% if language == 'ES' %}Formulario de Reservación{% else %}Reservation Form{% endif %}</h3>
						{% if 'ok' in request.GET %}
                            <div class="alert alert-success" role="alert">
                                {% if language == 'ES' %}Mensaje enviado correctamente.{% else %}Message sent successfully.{% endif %}
                            </div>
                        {% endif %}
                        {% if 'fail' in request.GET %}
                            <div class="alert alert-danger" role="alert">
                                {% if language == 'ES' %}Ha ocurrido un error y no se ha podido enviar el mensaje.{% else %}An error has occurred and the message could not be sent.{% endif %}
                            </div>            
                        {% endif %} 
						<form action="#registration_form" method="POST" role="form" class="contactForm">
						{% csrf_token %}
							<div class="form-group ">
								{{form.nombre}}
							</div>
							{{form.nombre.errors}}
							<div class="form-group ">
								{{form.email}}
							</div>
							{{form.email.errors}}
							<div class="form-group ">
								{{form.fecha_y_hora}}
							</div>
							{{form.fecha_y_hora.errors}}							
							<div class="form-group ">
								{{form.mensaje}}
							</div>
							{{form.mensaje.errors}}
							<div class="form-group ">
								<input class="btn btn-primary btn-outline" {% if language == 'ES' %}value="Enviar Mensaje"{% else %}value="Send Message"{% endif %} type="submit" data-nav-section="reservation">
							</div>
						</form>
					</div>-->
				</div>
			</div>
		</div>

		
	</div>

	<div id="fh5co-footer">
		<div class="container">
			<div class="row row-padded">
				<div class="col-md-12 text-center">
					<p class="to-animate">&copy; 2021 - {% if language == 'ES' %}Sociedad de Recreo y Sport "Juventud Asturiana".{% else %}Recreation and Sport Society "Juventud Asturiana".{% endif %} 
					<br> 
					{% if language == 'ES' %}Desarrollado por:{% else %}Developed by:{% endif %} <a href="http://adriansanchez.pythonanywhere.com/" target="_blank">Adrián Sánchez Nievares</a>
					</p>
					<p class="text-center to-animate"><a href="#" data-nav-section="home" class="js-gotop">{% if language == 'ES' %}Ir al Inicio{% else %}Go Home{% endif %}</a></p>
				</div>
			</div>
			<!-- SECCION REDES SOCIALES 
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="fh5co-social">
						<li class="to-animate-2"><a href="#"><i class="icon-facebook"></i></a></li>
						<li class="to-animate-2"><a href="#"><i class="icon-twitter"></i></a></li>
						<li class="to-animate-2"><a href="#"><i class="icon-instagram"></i></a></li>
					</ul>
				</div>
			</div>
			FIN DE LA SECCION REDES SOCIALES -->
		</div>
	</div>


	
	
	
	
	<!-- jQuery -->
	<script src="{% static 'core/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'core/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
	<!-- Bootstrap DateTimePicker -->
	<script src="{% static 'core/js/moment.js' %}"></script>
	<script src="{% static 'core/js/bootstrap-datetimepicker.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'core/js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'core/js/jquery.stellar.min.js' %}"></script>

	<!-- Flexslider -->
	<script src="{% static 'core/js/jquery.flexslider-min.js' %}"></script>
	<script>
		$(function () {
	       $('#date').datetimepicker();
	   });
	</script>
	<!-- Main JS -->
	<script src="{% static 'core/js/main.js' %}"></script>

	</body>
</html>

